<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body class="student-dashboard">
    <h1>Student Dashboard</h1>
    <p>Welcome, Student!</p>
    <ul>
        <li><a href="{{ url_for('scan_qr') }}">Scan QR Code</a></li>

        <!-- Update the URL here to point to the correct route for viewing attendance -->
        <li><a href="{{ url_for('student_dashboard') }}">View Attendance</a></li>

        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</body>
</html>
