<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Records</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script>
        function printPage() {
            window.print();
        }
    </script>
</head>
<body class="attendance-records">
    <h1>Attendance Records</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            {% if session['role'] == 'admin' or session['role'] == 'lecturer' %}
                <th>Student Name</th>
            {% endif %}
            <th>Timestamp</th>
            <th>Status</th>
            <th>Course Name</th>
            {% if session['role'] == 'admin' %}
                <th>Lecturer</th>
            {% endif %}
            {% if session['role'] == 'admin' or session['role'] == 'lecturer' %}
                <th>Action</th>
            {% endif %}
        </tr>
        {% for record in attendance %}
        <tr>
            <td>{{ record[0] }}</td>
            {% if session['role'] == 'admin' or session['role'] == 'lecturer' %}
                <td>{{ record[1] }}</td> 
            {% endif %}
            <td>{{ record[2] }}</td>
            <td>
                {% if record[3] == "Late" or record[3] == "Early" %}
                    Absent
                {% else %}
                    {{ record[3] }}
                {% endif %}
            </td>
            <td>{{ record[4] }}</td> 
            {% if session['role'] == 'admin' %}
                <td>{{ record[5] }}</td> 
            {% endif %}
            {% if session['role'] == 'admin' or session['role'] == 'lecturer' %}
                <td>
                    <form action="{{ url_for('delete_attendance', record_id=record[0]) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <button onclick="printPage()">Print</button>

    
    {% if session['role'] == 'admin' %}
        <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
    {% elif session['role'] == 'lecturer' %}
        <a href="{{ url_for('lecturer_dashboard') }}">Back to Dashboard</a>
    {% elif session['role'] == 'student' %}
        <a href="{{ url_for('student_dashboard') }}">Back to Dashboard</a>
    {% endif %}
</body>
</html>
